<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GlovoGabrielML"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CategoryList.CategoryListView"
            android:exported="false" />
        <activity
            android:name=".Carrito.CarritoView"
            android:exported="false" />
        <activity
            android:name=".RInfo.RInfoView"
            android:exported="false" />
        <activity
            android:name=".UHome.UHomeView"
            android:exported="false" />
        <activity
            android:name=".UsuarioLogin.ULoginView"
            android:exported="false" />
        <activity
            android:name=".RAddItem.RAddItemView"
            android:exported="false" />
        <activity
            android:name=".RHome.RHomeView"
            android:exported="false" />
        <activity
            android:name=".RestauranteLogin.RLoginView"
            android:exported="false" />
        <activity
            android:name=".GlovoMainView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>